{% extends 'userindex.html' %}
{% block body %}


<body>
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

#customers td, #customers th {
  border: 1px solid #29487D;
  padding: 4px;
}

#customers tr:nth-child(even){background-color: #FEFEFE;}
#customers tr:nth-child(odd){background-color: #9CB2CE;}

#customers tr:hover {background-color: #D4D8E8;}

#customers th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #29487D;
  color: white;
}
</style>
</head>


<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" id="customers">
    <tr>
      <td><label>
        <input type="text" name="textfield" required/>
      </label></td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit"class="btn btn-primary" name="Submit" value="Search" required/>
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
